div.floatBox1{
	border:3px solid black;
	padding:20px;
	height:50%;
}
div.floatBox2{
	
	border:3px solid black;
	padding:20px;
	heigth:40%;
}
div.floatBox3{
	border:3px solid black;
	padding:20px;
	heigth:40%;
}

u
{
	color:green;
}
legend
{
	color:red;
}


div#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
     
    height: 5%;
    text-align: center;
    color:#ffff00;background-color:red;margin-bottom:0px;
}